<div class="footer">
    <div class="container">
        <footer>
            <a href="https://www.linkedin.com/pub/dustin-harrell/45/877/4b5" target="_blank">
                <i class="fa fa-linkedin fa-lg"></i>
            </a>
            <a href="https://github.com/doostinharrell" target="_blank">
                <i class="fa fa-github fa-lg"></i>
            </a>
            <script language="javascript" type="text/javascript">
                var pre = "doostinharrell";
                document.write("<a href='mailto:" + pre + "@gmail.com'>");
            </script>
            <i class="fa fa-paper-plane fa-lg"></i>
            <script language="javascript" type="text/javascript">
                document.write("</a>");
            </script>
        </footer>
    </div>
</div>